

/* UNIVERSAL STYLES */


.html { font-size: 16px; }

.container { margin-left: 1.5rem; }

@font-face {
  font-family: 'Bree Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Bree Serif Regular'), local('BreeSerif-Regular'), url(https://fonts.gstatic.com/s/breeserif/v7/LQ7WLTaITDg4OSRuOZCpswzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* NAVIGATION */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1.5rem;
  height: 4rem;

}

nav .title {
  display: flex;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
}

#academy { color: rgb(237, 190, 0); }

.title img { width: 2.5rem;}

 nav li {
   display: inline-block;
   padding-left: 1rem;
   font-family: "Open Sans", sans-serif;
 }

nav a {
  color: black;
  text-decoration: none;
  transition: color .5s;
}

nav a:hover { color: rgb(237, 190, 0); }


/* Responsive NAVIGATION */

.mobile-navigation {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.mobile-navigation img { display: block; }

@media only screen and (min-width: 800px) {
  nav .mobile-navigation {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  nav .title,
   nav ul {
    display: none;
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* BANNER */

.entirebanner {
  display: flex;
  align-items: center;
  background-color: rgb(232, 229, 214);
}

.entirebanner img {
  width: 60%;
  height: 60%;
  margin: 2rem 1.5rem;
}

.bannertext .button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 0;
  margin-top: 2rem;
  margin-right: 2rem;
  background-color: rgb(159, 3, 0);
  border-radius: 25px;
  transition: font .2s ease-in;
}

.bannertext .button:hover {
  background-color: rgb(237, 190, 0);
  font-family: 'Bree Serif', serif;
  font-size: 2rem;
}

.bannertext a {
  text-decoration: none;
  color: white;
}

.bannertext h1 {
  padding-right: 16px;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Bree Serif', serif;
  color: rgb(11, 0, 127);
}

.bannertext h3 {
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
  line-height: 2rem;
}

/* Responsive BANNER */

@media only screen and (max-width: 840px) {
  .entirebanner { flex-direction: column; }

  .entirebanner img {
    width: 100%;
    margin: 0;
  }

  .bannertext .button {
    margin-top: 0;
    margin-bottom: 2rem;
    margin-left: 1.5rem;
  }

    .bannertext {
      text-align: center;
      margin-top: 2rem;
  }

}

@media only screen and (max-width: 600px) {
  .entirebanner h1 {
    font-size: 2rem;
    margin-top: 2rem;
  }

  .bannertext {
    margin-top: 0;
  }

}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*INFORMATION*/

.entireinformation {
  display: flex;
  padding-bottom: 2rem;
}

.practicebox {
  width: 60%;
  padding: 2rem 1.5rem;
}

.practicebox img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.practicebox h1 {
  padding-top: 2rem;
  font-family: 'Bree Serif', serif;
  font-size: 2.5rem;
  color: rgb(159, 3, 0);
}

.practicebox p {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

#strategist { font-size: .75rem; }

.readmorebox {
  width: 40%;
  padding-top: 1rem;
}

.readmorebox .box {
  display: flex;
  align-items: center;
}

.readmorebox img {
  width: 35%;
  padding: 1rem;
}

.box .text {
  padding-right: 16px;
}

.readmorebox .mobile-image { display: none; }

.readmorebox h5 {
  font-family: 'Bree Serif', serif;
  font-size: 1.5rem;
  color: rgb(11, 0, 127);
}

.readmorebox p,
.readmorebox a { font-family: "Open Sans", sans-serif; }

.readmorebox a {
  color: rgb(159, 3, 0);
  font-size: .9rem;
  transition: color .2s ease-in;
}

.readmorebox a:hover { color: rgb(237, 190, 0); }

.guestlecture { background-color: rgb(232, 229, 214); }

/* Responsive INFORMATION */

@media only screen and (max-width: 970px) {
  .entireinformation {
    flex-direction: column;
    padding-bottom: 0;
   }

  .practicebox {
    width: auto;
    padding: 2rem 1rem;
    text-align: center;
    background-color: rgb(237, 190, 0);
  }
  #strategist {
    text-align: right;
    margin-right: 2rem;
  }

  .readmorebox {
    width: 100%;
    padding-top: 0;
  }

  .readmorebox img {
    width: 20%;
  }

  .box .text {
    width: 50%;
    margin: auto;
  }

  .guestlecture { background-color: white; }

  .campus { background-color: rgb(232, 229, 214); }

}

@media only screen and (max-width: 480px) {
  .practicebox {
    display: none;
  }

  .readmorebox .box {
    flex-direction: column;
  }

  .readmorebox img {
    display: none;
  }

  .readmorebox .mobile-image {
    display: inline-block;
    width: 92%;
  }

  .box .text {
    width: 100%;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }


   .box p { margin-bottom: 1rem; }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* START LEARNING */

.start-learning {
  background-color: rgb(232, 229, 214);
}

.start-learning-title {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-family: "Bree serif", serif;
    font-size: 2.5rem;
    text-align: center;
    color: rgb(11, 0, 127);
}

.all-learning-boxes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  padding-bottom: 32px;
}

.learning-box {
  width: 30%;
  margin-bottom: 1rem;
  background-color: white;
  padding-bottom: 2rem;
  border-radius: 25px;
}

.learning-box img {
  width: 100%;
}

.learning-text h1 {
  font-family: "Bree Serif", serif;
  font-size: 1.3rem;
  padding: 16px;
  color: rgb(159, 3, 0);
}

.learning-text a {
  text-decoration: none;
}

.learning-text p {
  padding-left: 16px;
  padding-right: 16px;
  font-family: "Open Sans", sans-serif;
  font-size: .75rem;
  line-height: 1.2;
}

.learning-text .course {
  padding-bottom: 8px;
}

/* Responsive START LEARNING */

@media only screen and (min-width: 550px) {
  .learning-text h1:hover {
    color: rgb(237, 190, 0);
  }

  .learning-text h1 {
    transition: color .5s;
  }
}


@media only screen and (max-width: 550px) {
  .all-learning-boxes {
    flex-direction: column;
  }

  .learning-box {
    width: 100%;
    height: 20px;
    border: 3px dotted rgb(237, 190, 0);
    border-radius: 25px;
    transition: background-color .25s;
  }

  .learning-box:hover {
    background-color: rgb(237, 190, 0);
  }

  .learning-text p {
    display: none;
  }

  .learning-box img {
    display: none;
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* THESIS EXHIBIT */

.thesis-title {
  padding: 2rem 0;
  text-align: center;
  font-size: 2.5rem;
  font-family: "Bree Serif", serif;
  color: rgb(11, 0, 127);

}

.thesis-content { display: flex; }

.video-section {
  width: 60%;
  margin: 0 24px;
}

.right-section { width: 40%; }

.right-section a {
  text-decoration: none;
  color: rgb(159, 3, 0);
  transition: color .5s;
}

.right-section a:hover {
  color: rgb(237, 190, 0);
}

.fisma-box,
.now-box {
  display: flex;
  padding: 1rem;
  align-items: center;
}

.fisma-box { background-color: rgb(232, 229, 214); }

.fisma-box h3,
.now-box h3,
.video-section h3 {
  padding-bottom: 1rem;
  font-family: "Bree Serif", serif;
  font-size: 1.3rem;
}

.fisma-box p,
.now-box p,
.video-section p {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.3;
}

.video-section p,
.video-section h3 {
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.video-section h3 {
  padding-top: 1rem;
}

.right-section img {
  width: 35%;
  height: 35%;
  margin-right: 1rem;
}
/*Responsive Thesis */
@media only screen and (max-width: 730px) {
  .right-section,
  .video-section h3,
  .video-section p {
    display: none;
  }

  .video-section {
    width: 100%;
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* FOOTER */

footer {
  border: 1px solid green;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  padding: 4rem;
  font-family: "Open Sans", sans-serif;
  background-color: rgb(237, 190, 0);
}

.footernav a:hover {
  color: rgb(232, 229, 214);
}

/*Responsive Footer */
@media only screen and (max-width: 500px) {
  footer {
    font-size: .65rem;
  }
}
